div{color: rgb(255, 0, 0);}
#div1{color:blue}
#div2{color:rgb(248, 213, 16)}
#unorder-list{color:rgb(126, 246, 6);}
#order-list{color:rgba(6, 251, 251, 0.918)}
.large-font{font-size:2rem}
.deep-backgroud{background-color:rgb(122, 120, 120);
font-size:4rem}
.version{background-color: rgb(62, 241, 7);
color: rgb(245, 247, 248);
padding: 4px 10px;
border:20px;
display block;
border:1px dashed gold;
border-radius: 10px;}